{% extends "web/base.html" %}
{% load crispy_forms_tags %}


{% block conteudo %}
  <div class="container col-sm-12 col-md-8 col-lg-8 mt-5">
    <h1 class="text-center">Produtos</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Nome</th>
            <th>categoria</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for prod in produtos %}
            <tr>
              <td> {{ prod.id }} </td>
              <td> {{ prod.nome }} </td>
              <td> {{ prod.categoria }} </td>
              <td> {{ prod.quantidade }} </td>
              <td> {{ prod.preco }} </td>
              <td>
                <a href='/jaodelivery2/produtos/editar/{{ prod.id }}'>
                  <i class="far fa-edit"></i>
                </a>
                <a href='/jaodelivery2/produtos/remover/{{ prod.id }}'>
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="fab">
    <button class="main"></button>
    <ul>
      <li>
        <label for="opcao1">Add</label>
        <button id="opcao1"><i class="fas fa-plus"></i></button>
      </li>
      <li>
        <label for="opcao2">listar</label>
        <button id="opcao2"><i class="fas fa-table"></i></button>
      </li>
    </ul>
  </div>
{% endblock conteudo %}

{% block scriptbtn %}
  document.getElementById('opcao1').addEventListener('click', ()=> {
    window.location.href = '/web/produtos/cadastrar/'
  })
  document.getElementById('opcao2').addEventListener('click', ()=> {
    window.location.href = '/web/produtos/'
  })
{% endblock %}